* {
  margin: 0;
  padding: 0;
}
.pub-tile {
  position: relative;
  width:30vw;
  height:30vw;
  background-size: cover;
  background-position: center;
}
.pub-tile::after {
  -webkit-backdrop-filter: blur(5px) brightness(60%); /* Use for Safari 9+, Edge 17+ (not a mistake) and iOS Safari 9.2+ */
  backdrop-filter: blur(5px) brightness(60%); /* Supported in Chrome 76 */

  content: "";
  display: block;
  position: absolute;
  width: 100%; height: 100%;
  top: 0;
}

.u-non-blurred {
  position: relative;
  z-index: 1;
}

.pub-text {
  font-family: "Helvetica";
  color: white;
  width: 90%;
  margin: auto;
}

#title {
  padding-top: 5%;
}

#authors {
  color: rgb(211,211,211);
  font-size: 0.7em;
}

#abstract {
  margin-top: 2%;
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
           line-clamp: 4;
   -webkit-box-orient: vertical;
}
